@model LearningHub.Nhs.Models.Paging.TablePagingViewModel<LearningHub.Nhs.Models.Entities.External.ExternalSystem>
@using LearningHub.Nhs.AdminUI.Controllers

@{
    ViewData["Title"] = "External System";
    ViewData["CurrentPage"] = Model.Paging.CurrentPage;
}

@section SideMenu {
    @{await Html.RenderPartialAsync("_NavSection"); }
}
@{await Html.RenderPartialAsync("_ListPageHeader", Model.ListPageHeader); }

<div class="table-responsive">
    <table class="table table-striped lh-datatable filtered">
        <thead>
            <tr>
                <th class="orderable" data-column="Name" data-type="text">Name</th>
                <th class="orderable" data-column="Code" data-type="text">Code</th>
                <th class="orderable" data-column="CreateDate" data-type="date">Date Created</th>
                <th class="action-column">Edit</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Results.Items)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Name, "Details", new { id = item.Id })
                    </td>
                    <td>
                        @item.Code
                    </td>
                    <td>
                        @item.CreateDate.ToString("dd/MM/yyyy")
                    </td>
                    <td class="action-column">
                        <button type="button" class="btn" onclick="location.href='@Url.Action("Edit", "ExternalSystem", new { id = item.Id, source = "list" })'">
                            <i class="fa-solid fa-pencil"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@{await Html.RenderPartialAsync("_PagingControls", Model.Paging);}


@section Scripts {
    <script src="~/js/pagingContol.js"></script>
    <script>
        var sortColumn = '@Model.SortColumn';
        var sortDirection = '@Model.SortDirection';
        var filter = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Filter));
        $(document).ready(function () {
            AdminUI.pagingSetup(sortColumn, sortDirection, filter);
        })
    </script>
}