@using LearningHub.Nhs.WebUI.Configuration;
@using LearningHub.Nhs.WebUI.Models.Account
@using Microsoft.Extensions.Options;
@model AccountCreationConfirmation
@inject IOptions<Settings> settings
@{
    ViewData["Title"] = "Check your details";
    var errorHasOccurred = !ViewData.ModelState.IsValid;
    AccountCreationTypeEnum accountCreationType = ViewBag.AccountCreationType;
}
@section styles{
    <link rel="stylesheet" type="text/css" href="~/css/nhsuk/pages/createaccount.css" asp-append-version="true" />
}
<div class="create-account">
    <div class="nhsuk-width-container app-width-container">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-three-quarters nhsuk-u-padding-top-7 nhsuk-u-padding-bottom-9">
                @if (errorHasOccurred)
                {
                    <vc:error-summary order-of-property-names="@(new[] { nameof(Model) })" />
                }
                <h1 class="nhsuk-heading-xl">@ViewData["Title"]</h1>
                <dl class="nhsuk-summary-list">

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Name
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            @Model.AccountCreationViewModel.FirstName @Model.AccountCreationViewModel.LastName
                        </dd>

                        <dd class="nhsuk-summary-list__actions">
                            <a asp-action="CreateAccountPersonalDetails" asp-route-returnToConfirmation="true">
                                Change<span class="nhsuk-u-visually-hidden">&nbsp;name</span>
                            </a>

                        </dd>

                    </div>

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Primary email address
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            @Model.AccountCreationViewModel.EmailAddress
                        </dd>

                        <dd class="nhsuk-summary-list__actions">

                            <a asp-action="CreateAccountEmailVerification" asp-route-returnToConfirmation="true">
                                Change<span class="nhsuk-u-visually-hidden">&nbsp;email</span>
                            </a>

                        </dd>

                    </div>

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Secondary email address
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            @Model.AccountCreationViewModel.SecondaryEmailAddress
                        </dd>

                        <dd class="nhsuk-summary-list__actions">

                            <a asp-action="CreateAccountPersonalDetails" asp-route-returnToConfirmation="true">
                                Change<span class="nhsuk-u-visually-hidden">&nbsp;email</span>
                            </a>

                        </dd>

                    </div>

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key @(Model.AccountCreationViewModel.CountryId == "1"? "no-bottom-border":string.Empty)">
                            Country
                        </dt>
                        <dd class="nhsuk-summary-list__value @(Model.AccountCreationViewModel.CountryId == "1"? "no-bottom-border":string.Empty)">
                            @Model.Country
                        </dd>

                        <dd class="nhsuk-summary-list__actions @(Model.AccountCreationViewModel.CountryId == "1"? "no-bottom-border":string.Empty)">

                            <a asp-action="CreateAccountCountrySelection" asp-route-filterText="@Model.Country" asp-route-returnToConfirmation="true">
                                Change<span class="nhsuk-u-visually-hidden">&nbsp;country</span>
                            </a>

                        </dd>

                    </div>
                    @if (Model.AccountCreationViewModel.CountryId == "1")
                    {
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Region
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                @Model.Region
                            </dd>

                            <dd class="nhsuk-summary-list__actions">


                            </dd>

                        </div>

                    }

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key no-bottom-border">
                            Current role
                        </dt>
                        <dd class="nhsuk-summary-list__value no-bottom-border">
                            @Model.AccountCreationViewModel.CurrentRoleName
                        </dd>

                        <dd class="nhsuk-summary-list__actions no-bottom-border">

                            <a asp-action="CreateAccountCurrentRole" asp-route-CurrentRole="@Model.AccountCreationViewModel.CurrentRole" asp-route-returnToConfirmation="true">
                                Change<span class="nhsuk-u-visually-hidden">&nbsp;role</span>
                            </a>

                        </dd>

                    </div>
                    @if (!string.IsNullOrWhiteSpace(Model.AccountCreationViewModel.RegistrationNumber))
                    {
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key no-bottom-border">
                                Professional registration number
                            </dt>
                            <dd class="nhsuk-summary-list__value no-bottom-border">
                                @Model.AccountCreationViewModel.RegistrationNumber
                            </dd>

                            <dd class="nhsuk-summary-list__actions no-bottom-border">


                            </dd>

                        </div>
                    }
                    @if (accountCreationType == AccountCreationTypeEnum.FullAccess)
                    {
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Grade
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                @Model.Grade
                            </dd>

                            <dd class="nhsuk-summary-list__actions">


                            </dd>

                        </div>
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Primary specialty
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                @Model.Specialty
                            </dd>

                            <dd class="nhsuk-summary-list__actions">

                                <a asp-action="CreateAccountPrimarySpecialtySelection" asp-route-filterText="@Model.Specialty" asp-route-returnToConfirmation="true">
                                    Change<span class="nhsuk-u-visually-hidden">&nbsp;primary specialty</span>
                                </a>

                            </dd>

                        </div>
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Start date
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                @Model.AccountCreationViewModel.StartDate.GetValueOrDefault().ToLongDateString()
                            </dd>

                            <dd class="nhsuk-summary-list__actions">

                                <a asp-action="CreateAccountWorkStartDate" asp-route-PrimarySpecialtyId="@Model.AccountCreationViewModel.PrimarySpecialtyId" asp-route-returnToConfirmation="true">
                                    Change<span class="nhsuk-u-visually-hidden">&nbsp;start date</span>
                                </a>

                            </dd>

                        </div>
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Place of work
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                @Html.Raw(Model.Employer)
                            </dd>

                            <dd class="nhsuk-summary-list__actions">

                                <a asp-action="CreateAccountWorkPlace" asp-route-returnToConfirmation="true">
                                    Change<span class="nhsuk-u-visually-hidden">&nbsp;place of work</span>
                                </a>

                            </dd>

                        </div>
                    }
                </dl>
                <form asp-controller="Account" asp-action="CreateAccountConfirmation" method="post">
                    <button class="nhsuk-button" id="save-button" type="submit">@(accountCreationType == AccountCreationTypeEnum.FullAccess ? "Continue to create a Full User account" : "Continue to create a General user account")</button>
                </form>
                @if (accountCreationType == AccountCreationTypeEnum.GeneralAccess)
                {
                    <div class="nhsuk-container-bordered">
                        <h3>Become an Full user</h3>
                        <div>
                            <p>
                                A Full user account allows you to access all learning resources, contribute and share knowledge and content.
                            </p>
                            <p>
                                By using a qualifying work email address you can <a href="@(settings.Value.SupportUrls.UserAccountUpgrade)" class="nhsuk-details__summary-text" target="_blank">upgrade your account to become a Full user.</a>
                            </p>
                        </div>
                    </div>
                    <partial name="_QualifyingWorkEmailAddress"></partial>
                }
            </div>
        </div>
    </div>
</div>