@model LearningHub.Nhs.Models.Common.LoginInputModel

@{
    ViewData["Title"] = "Existing account";
}
@{
    var isErrors = ViewData.ContainsKey("Errors") && bool.Parse(ViewData["Errors"].ToString());
}
<div class="lh-padding-fluid">
    <div class="lh-container-xl">
        <div class="user-entry mx-0">
            <div>
        <h1 class="nhsuk-heading-l">You already have an account</h1>
                <p>
                    You already have an elearning for Healthcare Hub account. You can use your username and password for this to access the Learning Hub.
                </p>
                <div class="login-panel col-md-6">
                    <form id="changePasswordForm" method="post" action="@ViewBag.AuthUrl" class="mt-4">
                        <div class="form-group mb-0 @(isErrors ? "input-validation-error-force" : "")">
                            <div asp-validation-summary="ModelOnly" class="validation-summary text-error"></div>
                        </div>
                        <div class="form-group mb-0 pb-3 @(isErrors ? "input-validation-error-force" : "")">
                            <label for="username">Username</label>
                            <div class="error-text">
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                            <input type="text" class="form-control @(isErrors ? "input-validation-error-force" : "")" id="username" aria-describedby="username" placeholder="Enter username" asp-for="Username" required="">
                        </div>
                        <div class="form-group @(isErrors ? "input-validation-error-force" : "")">
                            <label for="password">Password</label>
                            <div class="error-text">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <input type="password" class="form-control @(isErrors ? "input-validation-error-force" : "")" id="password" aria-describedby="password" placeholder="Enter password" asp-for="Password" required="">
                        </div>
                        <input type="hidden" asp-for="ReturnUrl" />

                        <p class="mt-5">
                            <button class="btn btn-outline-custom" type="button" onclick="location.href='/create-an-account'">
                                Previous
                            </button>
                            <button class="btn btn-primary btn-custom ml-5" type="submit">
                                Sign in
                            </button>
                        </p>

                        <p class="pt-4">
                            <a href="/forgotten-password">Forgotten your username or password?</a>
                        </p>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

