@using LearningHub.Nhs.Models.JiraRoadmap
@model LearningHub.Nhs.Models.JiraRoadmap.RoadmapResponseDto
@{
    ViewData["Title"] = "Learning Hub Roadmap";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/css/nhsuk/pages/jira_roadmap.css" asp-append-version="true" />

}

<section class="nhsuk-hero">
    <div class="nhsuk-width-container app-width-container">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <div class="nhsuk-u-padding-top-4 nhsuk-u-padding-bottom-7">
                    <h1 class="nhsuk-heading-xl">Learning Hub Roadmap</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="bg-white nhsuk-u-padding-bottom-7 nhsuk-u-padding-top-7">
    <div class="nhsuk-width-container app-width-container">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-quarter">
                <nav class="nhsuk-contents-list" aria-label="Page contents">
                    <ol class="nhsuk-contents-list__list">
                        @foreach (var component in Model.Components)
                        {
                            var anchorId = System.Text.RegularExpressions.Regex
                            .Replace(component.ComponentName.ToLowerInvariant(), @"[^a-z0-9]+", "-")
                            .Trim('-');
                            <li class="nhsuk-contents-list__item">
                                <a class="nhsuk-contents-list__link" href="#@anchorId">@component.ComponentName</a>
                            </li>
                        }
                    </ol>
                </nav>
            </div>
            <div class="nhsuk-grid-column-three-quarters">
                @foreach (var component in Model.Components)
                {
                    var anchorId = System.Text.RegularExpressions.Regex
                    .Replace(component.ComponentName.ToLowerInvariant(), @"[^a-z0-9]+", "-")
                    .Trim('-');
                    <h2 id="@anchorId">
                        @component.ComponentName
                    </h2>
                    <p>@component.ComponentDescription</p>

                    @foreach (var state in component.States)
                    {
                        <div class="nhsuk-u-margin-bottom-6 jira-roadmap-state">
                            <span class="nhsuk-heading-s jira-roadmap-state-heading">
                                @state.State
                            </span>
                            <div class="jira-roadmap-card-body">
                                <ul class="nhsuk-list">
                                    @foreach (var issue in state.Issues)
                                    {
                                        <li class="jira-roadmap__tick-item">
                                            <span>
                                                <svg class="nhsuk-icon nhsuk-icon--tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
                                                    <path d="M11.4 18.8a2 2 0 0 1-2.7.1h-.1L4 14.1a1.5 1.5 0 0 1 2.1-2L10 16l8.1-8.1a1.5 1.5 0 1 1 2.2 2l-8.9 9Z"></path>
                                                </svg>
                                            </span>
                                            @issue.Summary
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    }
                    @if (component != Model.Components.Last())
                    {
                        <hr />
                    }
                }
            </div>
        </div>
    </div>
</div>
