@model DashboardViewModel
@using LearningHub.Nhs.Models.Dashboard;
@using LearningHub.Nhs.WebUI.Models.DashBoard;
@using LearningHub.Nhs.Models.MyLearning;
@{
    string GetActiveTabName()
    {
        switch (Model.MyLearnings.Type)
        {
            case "in-progress":
                return "In Progress";
            case "my-certificates":
                return "Certificates";
            default:
                return "In Progress";
        }
    }

    var pagingViewModel = new DashBoardPagingViewModel
            {
                DashboardTrayType = "my-learning",
                MyLearningDashboard = Model.MyLearnings.Type,
                ResourceDashboard = Model.Resources.Type,
                CatalogueDashboard = Model.Catalogues.Type,
                CurrentPage = Model.MyLearnings.CurrentPage,
                TotalPages = Model.MyLearnings.TotalPages,
                TotalCount = Model.MyLearnings.TotalCount,
                DashboardTrayLearningResourceType = Model.DashboardTrayLearningResourceType,
            };
    var isLastPage = (Model.MyLearnings.CurrentPage * 3) >= Model.MyLearnings.TotalCount;
}
<div class="dashboardTray">
    <h2>My courses and elearning</h2>

    <nav class="subnavbarwhite nhsuk-bg-white  navbar-expand-md nhsuk-u-margin-bottom-5">
        <input class="subnav-hidden-checkbox" id="mylearning-subnav-hidden-checkbox" role="button" type="checkbox" aria-controls="collapsingMyLearningSubNavbar" aria-labelledby="mylearning-subnav-hidden-checkbox-label">
        <div class="bar">
            <div class="navbar-toggler navbar-toggler-left nhsuk-u-font-size-19">@GetActiveTabName()</div>
            <label class="navbar-toggler navbar-toggler-right" id="mylearning-subnav-hidden-checkbox-label" for="mylearning-subnav-hidden-checkbox">
                <i class="fa-solid fa-chevron-down"><span class="nhsuk-u-visually-hidden">Show Resource Options</span></i>
                <i class="fa-solid fa-chevron-up display--hide"><span class="nhsuk-u-visually-hidden">Hide Resource Options</span></i>
            </label>
        </div>
        <div class="navbar-collapse collapse nhsuk-bg-white" id="collapsingMyLearningSubNavbar">
            <ul class="navbar-nav">
                <li class="subnavwhite-item nhsuk-bg-white @(Model.MyLearnings.Type == "my-in-progress" ? "active" : string.Empty)">
                    <a tabindex="0" class="subnavwhite-link text-nowrap"
                       asp-controller="Home" asp-action="Index" asp-route-dashboardTrayLearningResourceType="all" asp-route-myLearningDashboard="my-in-progress" asp-route-resourceDashboard="@(Model.Resources.Type)" asp-route-catalogueDashboard="@Model.Catalogues.Type" asp-fragment="my-learning">In Progress</a>
                </li>

                <li class="subnavwhite-item nhsuk-bg-white @(Model.MyLearnings.Type == "my-certificates" ? "active" : string.Empty)">
                    <a tabindex="0" class="subnavwhite-link text-nowrap"
                       asp-controller="Home" asp-action="Index" asp-route-dashboardTrayLearningResourceType="all" asp-route-myLearningDashboard="my-certificates" asp-route-resourceDashboard="@(Model.Resources.Type)" asp-route-catalogueDashboard="@Model.Catalogues.Type" asp-fragment="my-learning">Certificates</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="nhsuk-u-padding-bottom-3">
        <span class="nhsuk-u-padding-right-3 nhsuk-u-primary-text-color nhsuk-u-font-size-16 nhsuk-u-font-weight-bold">Show</span>
        <span class="nhsuk-u-padding-right-3">
            <a asp-action="Index" asp-route-dashboardTrayLearningResourceType="all" asp-route-myLearningDashboard=@Model.MyLearnings.Type asp-route-resourceDashboard="@(Model.Resources.Type)" asp-route-catalogueDashboard="@Model.Catalogues.Type" asp-fragment="my-learning"
               class="nhsuk-u-padding-right-3 nhsuk-u-secondary-text-color nhsuk-u-font-size-16 nhsuk-u-font-weight-bold nhsuk-u-text-align-centre filterlink @(Model.DashboardTrayLearningResourceType == "all" ? "filteractive" : "filterinactive")"
               title="All">
                All
            </a>
        </span>
        <span class="nhsuk-u-padding-right-3">
            <a asp-action="Index" asp-route-dashboardTrayLearningResourceType="courses" asp-route-myLearningDashboard=@Model.MyLearnings.Type asp-route-resourceDashboard="@(Model.Resources.Type)" asp-route-catalogueDashboard="@Model.Catalogues.Type" asp-fragment="my-learning"
               class="subnavwhite-link text-nowrap nhsuk-u-padding-right-3 nhsuk-u-secondary-text-color nhsuk-u-font-size-16 nhsuk-u-font-weight-bold filterlink @(Model.DashboardTrayLearningResourceType == "courses" ? "filteractive" : "filterinactive")"
               title="Courses">
                Courses
            </a>
        </span>
        <span class="nhsuk-u-padding-right-3">
            <a asp-action="Index" asp-route-dashboardTrayLearningResourceType="elearning" asp-route-myLearningDashboard=@Model.MyLearnings.Type asp-route-resourceDashboard="@(Model.Resources.Type)" asp-route-catalogueDashboard="@Model.Catalogues.Type" asp-fragment="my-learning"
               class="subnavwhite-link text-nowrap nhsuk-u-padding-right-3  nhsuk-u-secondary-text-color nhsuk-u-font-size-16 nhsuk-u-font-weight-bold filterlink @(Model.DashboardTrayLearningResourceType == "elearning" ? "filteractive" : "filterinactive")"
               title="Elearning">
                Elearning
            </a>
        </span>
    </div>
    <div class="nhsuk-grid-row nhsuk-u-margin-bottom-2">
        <div class="nhsuk-grid-column-full">
            @if (Model.MyLearnings.Type == "my-in-progress" && Model.MyLearnings.Activities?.Count() > 0)
            {
                <div>
                    <ul class="nhsuk-grid-row nhsuk-card-group nhsuk-card-group--centred">
                        @foreach (var activity in Model.MyLearnings.Activities)
                        {

                            var activityViewModel = new Tuple<string, MyLearningCombinedActivitiesViewModel>("my-learning", activity);
                            <li class="nhsuk-grid-column-one-third-small-desktop nhsuk-card-group__item">
                                <partial name="_LearningActivityCard" model="activityViewModel" />
                            </li>
                        }
                        @if (isLastPage)
                        {
                            <li class="nhsuk-grid-column-one-third-small-desktop nhsuk-card-group__item">
                                <div class="nhsuk-card dashboard-card">
                                    <div class="nhsuk-card__content dashboard-card-content">
                                        <div class="nhsuk-u-text-align-centre nhsuk-u-padding-bottom-3">
                                            <svg width="128" height="118" viewBox="0 0 128 118" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_3195_19081)">
                                                    <path d="M43.2587 93.232C42.9787 93.232 42.6887 93.152 42.4487 93.012L17.1487 78.002C16.5287 77.632 16.2287 76.892 16.4287 76.192L29.3687 30.712C29.4887 30.272 29.7987 29.912 30.2087 29.712C30.6187 29.512 31.0887 29.502 31.5087 29.672L46.6287 35.872L76.7887 29.582C77.0487 29.532 77.3187 29.542 77.5687 29.612L82.0287 30.952C82.8787 31.202 83.3587 32.092 83.0987 32.942C82.8487 33.792 81.9487 34.262 81.1087 34.012L77.0387 32.792L46.7987 39.102C46.4887 39.162 46.1587 39.142 45.8687 39.012L31.9487 33.302L19.8287 75.882L43.4987 89.922L53.5987 87.172C54.4487 86.942 55.3287 87.442 55.5587 88.292C55.7887 89.142 55.2887 90.022 54.4387 90.252L43.6887 93.172C43.5487 93.212 43.4087 93.232 43.2687 93.232H43.2587Z" fill="#053E76" />
                                                    <path d="M101.779 93.2324C101.639 93.2324 101.509 93.2124 101.369 93.1824L72.0286 85.4624L66.4886 86.9724C65.6386 87.2024 64.7586 86.7024 64.5286 85.8524C64.2986 85.0024 64.7986 84.1224 65.6486 83.8924L71.5986 82.2724C71.8686 82.2024 72.1586 82.2024 72.4286 82.2724L101.519 89.9224L124.209 75.9124L112.079 34.5024C111.829 33.6524 112.319 32.7724 113.159 32.5224C114.009 32.2724 114.889 32.7624 115.139 33.6024L127.609 76.1824C127.809 76.8724 127.529 77.6124 126.919 77.9924L102.609 93.0024C102.359 93.1624 102.069 93.2424 101.769 93.2424L101.779 93.2324Z" fill="#053E76" />
                                                    <path d="M43.2568 93.2353C43.2568 93.2353 43.1668 93.2353 43.1168 93.2353C42.2368 93.1553 41.5868 92.3853 41.6668 91.5052L42.3768 83.4153C42.4568 82.5353 43.2268 81.8752 44.1068 81.9652C44.9868 82.0452 45.6368 82.8153 45.5568 83.6953L44.8468 91.7852C44.7768 92.6152 44.0768 93.2452 43.2568 93.2452V93.2353Z" fill="#053E76" />
                                                    <path d="M44.7785 75.9641C44.7785 75.9641 44.6785 75.9641 44.6285 75.9641C43.7485 75.8841 43.0985 75.1041 43.1785 74.2241L44.6985 57.5841C44.7785 56.7041 45.5685 56.0641 46.4385 56.1341C47.3185 56.2141 47.9685 56.9941 47.8885 57.8741L46.3685 74.5141C46.2885 75.3441 45.5985 75.9641 44.7785 75.9641Z" fill="#053E76" />
                                                    <path d="M47.2178 48.9626C47.2178 48.9626 47.1178 48.9626 47.0778 48.9626C46.1978 48.8826 45.5478 48.1126 45.6278 47.2326L45.9778 43.2926C46.0578 42.4126 46.8378 41.7626 47.7078 41.8426C48.5878 41.9226 49.2378 42.6926 49.1578 43.5726L48.8078 47.5126C48.7378 48.3426 48.0378 48.9726 47.2178 48.9726V48.9626Z" fill="#053E76" />
                                                    <path d="M72.3672 51.4041C72.3672 51.4041 72.2972 51.4041 72.2572 51.4041C71.3772 51.3441 70.7172 50.5841 70.7772 49.7041L71.2372 43.0241C71.2972 42.1441 72.0572 41.4741 72.9372 41.5441C73.8172 41.6041 74.4772 42.3641 74.4172 43.2441L73.9572 49.9241C73.8972 50.7641 73.1972 51.4141 72.3672 51.4141V51.4041Z" fill="#053E76" />
                                                    <path d="M70.6289 76.6633C70.6289 76.6633 70.5589 76.6633 70.5189 76.6633C69.6389 76.6033 68.9789 75.8433 69.0389 74.9633L69.9789 61.2833C70.0389 60.4033 70.8089 59.7233 71.6789 59.8033C72.5589 59.8633 73.2189 60.6233 73.1589 61.5033L72.2189 75.1833C72.1589 76.0233 71.4589 76.6733 70.6289 76.6733V76.6633Z" fill="#053E76" />
                                                    <path d="M99.8003 71.5731C98.9803 71.5731 98.2803 70.9431 98.2103 70.1031L96.2903 46.1431C96.2203 45.2631 96.8703 44.4931 97.7503 44.4231C98.6503 44.3531 99.4003 45.0131 99.4703 45.8831L101.39 69.8431C101.46 70.7231 100.81 71.4931 99.9303 71.5631C99.8903 71.5631 99.8403 71.5631 99.8003 71.5631V71.5731Z" fill="#053E76" />
                                                    <path d="M99.7992 87.1152C98.9192 87.1152 98.1992 86.4052 98.1992 85.5152V78.1352C98.1992 77.2552 98.9192 76.5352 99.7992 76.5352C100.679 76.5352 101.399 77.2452 101.399 78.1352V85.5152C101.399 86.3952 100.679 87.1152 99.7992 87.1152Z" fill="#053E76" />
                                                    <path d="M90.2089 48.133L89.8089 48.763C86.9489 53.273 80.0489 51.933 79.0689 46.693C79.5089 43.083 82.1789 36.283 89.4289 33.693C96.9289 31.013 99.5789 28.633 100.199 23.983C100.449 22.123 100.269 20.223 99.5189 18.493C97.9389 14.863 94.7489 12.523 91.0289 12.073C86.1289 11.483 81.4389 14.413 79.8189 19.043C78.8389 21.853 75.8789 23.593 73.0089 22.833C69.8489 21.993 68.0989 18.683 69.1189 15.623C72.3689 5.87301 82.1489 -0.316994 92.3789 0.913006C98.5089 1.65301 103.939 4.87301 107.539 9.94301C110.759 14.473 112.209 22.783 110.819 28.163C108.019 38.973 98.159 42.503 93.219 44.273C90.7589 45.153 90.2689 47.843 90.219 48.143L90.2089 48.133Z" fill="#053E76" />
                                                    <path d="M81.5692 66.7634C84.6731 66.7634 87.1892 64.2473 87.1892 61.1434C87.1892 58.0396 84.6731 55.5234 81.5692 55.5234C78.4654 55.5234 75.9492 58.0396 75.9492 61.1434C75.9492 64.2473 78.4654 66.7634 81.5692 66.7634Z" fill="#053E76" />
                                                    <path d="M63.2678 112.566C62.7178 112.566 62.1878 112.226 61.9778 111.676C61.7078 110.966 62.0578 110.166 62.7678 109.886C63.9178 109.446 65.0778 108.966 66.2378 108.476C66.9378 108.176 67.7478 108.496 68.0578 109.196C68.3578 109.896 68.0378 110.706 67.3378 111.006C66.1478 111.516 64.9478 112.006 63.7678 112.456C63.6078 112.516 63.4378 112.546 63.2678 112.546V112.566Z" fill="#053E76" />
                                                    <path d="M36.6486 117.915C35.6386 117.915 34.6386 117.885 33.6686 117.835C33.2986 117.825 32.9686 117.655 32.7186 117.385C32.4686 117.115 32.3386 116.755 32.3586 116.385C32.3986 115.625 33.0586 115.035 33.8086 115.075C36.2986 115.205 38.7086 115.165 41.1886 114.975C41.9686 114.925 42.6086 115.505 42.6686 116.255V116.355C42.6686 117.075 42.1086 117.675 41.3986 117.735C39.7986 117.855 38.2086 117.915 36.6586 117.915H36.6486ZM26.2586 116.935C26.1686 116.935 26.0786 116.925 25.9886 116.905C23.3786 116.395 20.8686 115.675 18.5086 114.785C17.7886 114.515 17.4286 113.715 17.6986 113.005C17.9686 112.315 18.7886 111.935 19.4886 112.195C21.6986 113.035 24.0686 113.715 26.5186 114.195C27.1486 114.325 27.6186 114.885 27.6186 115.535C27.6286 115.625 27.6186 115.725 27.5986 115.815C27.4686 116.465 26.8986 116.935 26.2486 116.935H26.2586ZM48.7686 116.735C48.1086 116.735 47.5386 116.265 47.4186 115.605C47.3486 115.245 47.4186 114.875 47.6286 114.575C47.8386 114.265 48.1586 114.065 48.5186 113.995C50.8986 113.555 53.3186 112.965 55.7286 112.275C56.4386 112.065 57.2386 112.505 57.4386 113.215C57.5486 113.565 57.4986 113.945 57.3286 114.265C57.1486 114.585 56.8486 114.825 56.4986 114.925C53.9986 115.655 51.4786 116.255 49.0286 116.715C48.9386 116.725 48.8586 116.735 48.7686 116.735ZM12.2386 111.525C11.9786 111.525 11.7286 111.455 11.5086 111.315H11.4986L11.4486 111.275C9.12859 109.805 7.09859 108.125 5.40859 106.285C5.15859 106.015 5.02859 105.665 5.04859 105.295C5.06859 104.925 5.21859 104.585 5.49859 104.335C6.03859 103.845 6.95859 103.885 7.44859 104.415C8.97859 106.085 10.8286 107.615 12.9786 108.975C13.3786 109.235 13.6186 109.665 13.6186 110.135C13.6186 110.405 13.5486 110.665 13.4086 110.885C13.1486 111.285 12.7086 111.525 12.2386 111.525ZM49.2886 103.475C48.7686 103.475 48.2386 103.445 47.6886 103.395C46.9786 103.325 46.4386 102.745 46.4386 102.035C46.4286 101.985 46.4386 101.935 46.4386 101.895C46.5086 101.135 47.1786 100.565 47.9486 100.645C48.4186 100.695 48.8586 100.715 49.2886 100.715C51.2086 100.715 52.8986 100.295 54.4786 99.4545C55.1286 99.1045 55.9986 99.3645 56.3486 100.015C56.7086 100.685 56.4586 101.525 55.7886 101.885C53.8286 102.945 51.6486 103.475 49.2986 103.475H49.2886ZM40.5586 101.415C40.3686 101.415 40.1886 101.375 40.0186 101.305C37.9686 100.435 35.7286 99.2845 33.1486 97.7745C32.7186 97.5245 32.4586 97.0645 32.4586 96.5745C32.4586 96.3345 32.5286 96.0945 32.6486 95.8845C33.0186 95.2545 33.8986 95.0145 34.5386 95.3845C37.0286 96.8445 39.1786 97.9445 41.0986 98.7545C41.8086 99.0545 42.1286 99.8645 41.8386 100.565C41.6186 101.085 41.1186 101.415 40.5686 101.415H40.5586ZM2.44859 100.375C1.86859 100.375 1.33859 100.005 1.14859 99.4545C0.588594 97.8945 0.308594 96.3345 0.308594 94.8245C0.308594 93.5545 0.508594 92.3145 0.908594 91.1545C1.14859 90.4445 1.94859 90.0445 2.65859 90.2845C3.37859 90.5345 3.76859 91.3145 3.51859 92.0345C3.22859 92.9145 3.06859 93.8545 3.06859 94.8245C3.06859 96.0245 3.29859 97.2745 3.74859 98.5345H3.75859C3.80859 98.6945 3.82859 98.8545 3.82859 99.0045C3.82859 99.5845 3.45859 100.105 2.91859 100.295C2.76859 100.355 2.60859 100.375 2.44859 100.375ZM60.5186 96.8945C60.2486 96.8945 59.9786 96.8145 59.7486 96.6545C59.3686 96.3945 59.1386 95.9745 59.1386 95.5045C59.1386 95.2345 59.2286 94.9645 59.3786 94.7345C60.6286 92.8945 61.2586 91.2645 61.2586 89.9145C61.2586 89.5345 61.2086 89.1745 61.1186 88.8345C60.9186 88.0945 61.3486 87.3345 62.0786 87.1345C62.8086 86.9345 63.5886 87.3845 63.7786 88.1045C63.9386 88.6845 64.0186 89.2945 64.0186 89.9145C64.0186 91.8645 63.2486 93.9445 61.6686 96.2845C61.4086 96.6645 60.9786 96.8945 60.5186 96.8945ZM27.3986 93.9745C27.1386 93.9745 26.8786 93.9045 26.6586 93.7645L26.3786 93.5845C24.2486 92.2245 22.2286 90.9345 20.2886 89.8145C19.8586 89.5645 19.5986 89.0945 19.5986 88.6045C19.5986 88.3645 19.6686 88.1245 19.7886 87.9145C20.1586 87.2845 21.0386 87.0445 21.6786 87.4145C23.7486 88.6245 25.8486 89.9645 28.0686 91.3745L28.1486 91.4345C28.7986 91.8345 28.9886 92.6945 28.5786 93.3345C28.3186 93.7345 27.8886 93.9745 27.4086 93.9745H27.3986ZM6.91859 87.2445C6.44859 87.2445 6.00859 87.0045 5.75859 86.6145C5.61859 86.3845 5.53859 86.1345 5.53859 85.8645C5.53859 85.3945 5.77859 84.9545 6.16859 84.7045C6.38859 84.5645 6.56859 84.4545 6.73859 84.3545C7.85859 83.6945 9.15859 83.3545 10.5886 83.3545H10.6086C11.8186 83.3545 13.1286 83.5845 14.5886 84.0545C14.9386 84.1645 15.2186 84.4145 15.3886 84.7345C15.5586 85.0645 15.5886 85.4445 15.4786 85.7945C15.2486 86.5045 14.4586 86.9145 13.7386 86.6845C12.5686 86.3045 11.5186 86.1145 10.6086 86.1145C9.63859 86.1145 8.85859 86.3145 8.13859 86.7345C7.97859 86.8345 7.81859 86.9245 7.66859 87.0245C7.43859 87.1645 7.18859 87.2445 6.91859 87.2445ZM57.2686 84.6845C57.0486 84.6845 56.8286 84.6245 56.6286 84.5245C54.5886 83.4645 52.0386 82.5545 49.8086 81.7945C49.0886 81.5545 48.6986 80.7645 48.9386 80.0445C49.1786 79.3345 49.9786 78.9345 50.6986 79.1745C53.1486 80.0145 55.7186 80.9345 57.8986 82.0745C58.3686 82.3145 58.6486 82.7845 58.6486 83.3045C58.6486 83.5245 58.5986 83.7345 58.4986 83.9345C58.2586 84.3945 57.7886 84.6845 57.2686 84.6845ZM43.0886 79.4145C42.9286 79.4145 42.7686 79.3845 42.6086 79.3245C40.4486 78.5145 37.6886 77.3845 35.5186 75.8145C35.2186 75.5945 35.0186 75.2745 34.9586 74.9045C34.9086 74.5445 34.9986 74.1745 35.2086 73.8845C35.6486 73.2845 36.5486 73.1445 37.1486 73.5745C38.5786 74.6345 40.6886 75.6645 43.5686 76.7345C44.1186 76.9345 44.4786 77.4545 44.4686 78.0345C44.4686 78.1945 44.4386 78.3545 44.3886 78.5145C44.1886 79.0545 43.6686 79.4145 43.0886 79.4145ZM32.6986 69.7545C32.0386 69.7545 31.4686 69.2845 31.3386 68.6245C31.0486 67.0745 30.8986 65.5545 30.8986 64.1245C30.8986 62.8845 31.0186 61.6945 31.2386 60.5945C31.3886 59.8645 32.1286 59.3645 32.8686 59.5145C33.6086 59.6745 34.0986 60.4045 33.9486 61.1445C33.7586 62.0745 33.6686 63.0745 33.6686 64.1245C33.6686 65.3645 33.7986 66.7045 34.0586 68.1245C34.0786 68.2045 34.0786 68.2945 34.0786 68.3645C34.0886 69.0345 33.6086 69.6145 32.9486 69.7345C32.8686 69.7545 32.7886 69.7545 32.6986 69.7545ZM36.2486 55.8145C35.8386 55.8145 35.4586 55.6345 35.1986 55.3345C34.9786 55.0845 34.8686 54.7545 34.8686 54.4245C34.8686 54.0345 35.0386 53.6545 35.3386 53.3945C35.3386 53.3945 35.3686 53.3645 35.3886 53.3545C37.2986 51.7345 39.7786 50.6145 42.7786 50.0245C43.5186 49.8845 44.2586 50.3845 44.3986 51.1145C44.5486 51.8645 44.0586 52.5945 43.3086 52.7345C40.7586 53.2345 38.6886 54.1645 37.1386 55.4945C36.8886 55.7045 36.5786 55.8245 36.2486 55.8245V55.8145ZM65.4986 55.2445C65.3686 55.2445 65.2386 55.2245 65.1086 55.1845C65.0786 55.1845 65.0386 55.1645 65.0086 55.1545H64.9886C64.3986 54.9845 63.9886 54.4245 63.9986 53.8145C63.9986 53.6845 64.0186 53.5645 64.0486 53.4345C64.2586 52.7245 65.0586 52.2945 65.7686 52.5045C65.7986 52.5145 65.8386 52.5245 65.8686 52.5345H65.8886C66.6186 52.7545 67.0386 53.5245 66.8286 54.2545C66.6586 54.8345 66.1086 55.2445 65.4986 55.2445ZM58.0586 53.3745C57.9586 53.3745 57.8686 53.3745 57.7786 53.3545C55.1686 52.8245 52.7186 52.4945 50.4886 52.3645C49.7586 52.3145 49.1886 51.7045 49.1886 50.9645V50.9445C49.1886 50.9445 49.1886 50.9145 49.1886 50.8945C49.2286 50.1445 49.8886 49.5545 50.6486 49.6045C52.9986 49.7445 55.5786 50.0945 58.3186 50.6445C59.0586 50.7945 59.5486 51.5245 59.3986 52.2745C59.2686 52.9145 58.6986 53.3745 58.0486 53.3745H58.0586Z" fill="#053E76" />
                                                    <path d="M69.1274 56.3829C68.9874 56.3829 68.8374 56.3629 68.6974 56.3129C67.4674 55.9029 66.2774 55.5329 65.1174 55.1929C64.3874 54.9729 63.9674 54.2129 64.1874 53.4729C64.4074 52.7429 65.1674 52.3229 65.9074 52.5429C67.0974 52.8929 68.3174 53.2729 69.5774 53.6929C70.2974 53.9329 70.6974 54.7129 70.4574 55.4429C70.2674 56.0229 69.7274 56.3929 69.1474 56.3929L69.1274 56.3829Z" fill="#053E76" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_3195_19081">
                                                        <rect width="127.38" height="117.16" fill="white" transform="translate(0.308594 0.753906)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </div>
                                        <div class="nhsuk-u-text-align-centre nhsuk-u-padding-right-4">Cant find what your looking for?</div>
                                        <div class="nhsuk-card__description dashboard-card-body nhsuk-u-text-align-centre">
                                            <a asp-controller="MyLearning" asp-action="LearningHistory">Search for previous learning in your learning history</a>
                                        </div>
                                    </div>
                                </div>

                            </li>
                        }
                    </ul>
                </div>
            }
            else if (Model.MyLearnings.Type == "my-certificates" && Model.MyLearnings.UserCertificates?.Count() > 0)
            {
                <ul class="nhsuk-grid-row nhsuk-card-group nhsuk-card-group--centred">
                    @foreach (var userCertificate in Model.MyLearnings.UserCertificates)
                    {

                        var certificateViewmodel = new Tuple<string, UserCertificateViewModel>("my-learning", userCertificate);
                        <li class="nhsuk-grid-column-one-third-small-desktop nhsuk-card-group__item">
                            <partial name="_CertificateCard" model="certificateViewmodel" />
                        </li>
                    }
                </ul>
            }
            else
            {
                <div class="nhsuk-bg-white  nhsuk-u-padding-5">
                    @if (Model.MyLearnings.Type == "my-in-progress" && Model.MyLearnings.TotalCount <= 0)
                    {
                        <h3 class="nhsuk-card__heading nhsuk-heading-m">You have not accessed any learning yet.</h3>
                        <p class="nhsuk-card__description dashboard-card-body">Accessed resources and courses will be displayed here. Browse from the list of resources below or search for a specific term using the search bar at the top of the screen.</p>
                    }
                    else if (Model.MyLearnings.Type == "my-certificates" && Model.MyLearnings.TotalCount <= 0)
                    {
                        <h3 nhsuk-card__heading nhsuk-heading-m>You have no certificates.</h3>
                        <p class="nhsuk-card__description dashboard-card-body">Certificates when available will be displayed here.</p>
                    }
                </div>
            }
        </div>
    </div>
    <div class="nhsuk-grid-row nhsuk-card-group nhsuk-card-group--centred nhsuk-u-margin-bottom-1">
        <div class="nhsuk-grid-column-one-third-small-desktop nhsuk-card-group__item nhsuk-u-padding-top-3">
            @if (Model.MyLearnings.Type != "my-catalogues")
            {
                <a tabindex="0" class="subnavwhite-link text-nowrap" asp-controller="MyLearning" asp-action="Index" asp-route-myLearningDashboard="@Model.MyLearnings.Type">View in My Learning activity</a>
            }
        </div>
        <div class="nhsuk-grid-column-one-third-small-desktop nhsuk-card-group__item"></div>
        <div class="nhsuk-grid-column-one-third-small-desktop nhsuk-card-group__item  nhsuk-u-padding-top-3 display--no-js-hide">
            <partial name="_DashboardPaging" model="pagingViewModel" />
        </div>
    </div>
</div>