@using LearningHub.Nhs.WebUI.Models.DynamicCheckbox
@model DynamicCheckboxesViewModel
@{
    var propertyName = ViewData["PropertyName"]?.ToString() ?? "SelectedValues";
    var exclusiveGroup = $"{propertyName}-list";
}

<div class="nhsuk-form-group @(Model.Required && !Model.SelectedValues.Any() ? "nhsuk-form-group--error" : "")">
    <fieldset class="nhsuk-fieldset">
        @if (!string.IsNullOrEmpty(Model.Label))
        {
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                <span class="nhsuk-fieldset__heading">@Model.Label</span>
            </legend>
        }

        @if (!ViewData.ModelState.IsValid && Model.SelectedValues.Count() == 0)
        {
            <div class="nhsuk-u-padding-top-1 nhsuk-u-padding-bottom-3">
                <span class="error-message--margin-bottom-1 nhsuk-error-message">
                    <span>@Model.ErrorMessage</span>
                </span>
            </div>
        }

        <div class="nhsuk-checkboxes">
            @for (int i = 0; i < Model.Checkboxes.Count; i++)
            {
                var checkbox = Model.Checkboxes[i];
                var inputId = i == 0 ? propertyName : $"{propertyName}_{i}";
          
                <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input"
                           id="@inputId"
                           name="@propertyName"
                           type="checkbox"
                           value="@checkbox.Value"
                           @(checkbox.Exclusive ? "data-checkbox-exclusive" : null)
                           data-checkbox-exclusive-group="@exclusiveGroup"
                           @(checkbox.Selected ? "checked" : null) />

                    <label class="nhsuk-label nhsuk-checkboxes__label" for="@inputId">
                        @checkbox.Label
                    </label>
                </div>
            }
        </div>
    </fieldset>
</div>
