@model LearningHub.Nhs.Models.Paging.TablePagingViewModel<LearningHub.Nhs.Models.User.RoleUserGroupViewModel>
@{
    ViewData["CurrentPage"] = Model.Paging.CurrentPage;
    var fromCount = (@Model.ListPageHeader.DisplayedCount * (int)@ViewData["CurrentPage"]) - @Model.ListPageHeader.DisplayedCount + 1;
    var toCount = (int)@ViewData["CurrentPage"] * @Model.ListPageHeader.DisplayedCount;
}

<div class="admin-list-header d-flex flex-row justify-content-between">

    @if (Model.ListPageHeader.TotalItemCount == 0)
    {
        <div>There are no user groups.</div>
    }
    else
    {
        <div>
            Showing @fromCount - @toCount of @Model.ListPageHeader.TotalItemCount
            @if (Model.ListPageHeader.FilterCount > 0)
            {
                <text>(filtered)</text>
            }
        </div>
    }

    <div class="right-side">
        @if (Model.ListPageHeader.FilterCount > 0)
        {
            <text>
                <a href="#" onclick="AdminUI.clearFilters()">Clear filters</a>
            </text>
        }
        <button class="btn btn-custom-green" onclick="showAddUserGroupsModal();"><i class="fa-solid fa-plus"></i> Add user groups</button>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped lh-datatable filtered">
        <thead>
            <tr>
                <th style="width:15%" class="orderable" data-column="ID" data-type="number">ID</th>
                <th class="orderable" data-column="Name" data-type="text">Group Name</th>
                <th style="width: 5%">
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Results.Items)
            {
            <tr>
                <td>
                    @Html.ActionLink(item.UserGroupId.ToString(), "Details", "UserGroup", new { id = item.UserGroupId }, null)
                </td>
                <td>
                    @Html.ActionLink(item.UserGroupName.ToString(), "Details", "UserGroup", new { id = item.UserGroupId }, null)
                </td>
                <td>
                    <span><a href="#" data-id="@item.RoleUserGroupId" class="remove-list-item remove-role-user-group"><i class="fa fa-times"></i></a></span>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

@{await Html.RenderPartialAsync("_PagingControls", Model.Paging);}