@model LearningHub.Nhs.WebUI.Models.UserProfile.MyAccountLocationViewModel
@{
    ViewData["DisableValidation"] = true;
    ViewData["Title"] = "My Account - Location";
    var errorHasOccurred = !ViewData.ModelState.IsValid;
}
<div class="bg-white">
    <div class="nhsuk-width-container app-width-container">
        <vc:back-link asp-controller="MyAccount" asp-action="MyEmploymentDetails" link-text="Go back" />
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full nhsuk-u-padding-bottom-5">
                @if (errorHasOccurred)
                {
                    <vc:error-summary order-of-property-names="@(new[] { nameof(Model) })" />
                }
                <h1 class="nhsuk-heading-xl">Update location details</h1>

                @if (Model.SelectedCountryName != null)
                {
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-two-thirds">
                            <h2 class="nhsuk-body-m">
                                Current selected country
                            </h2>
                            <div class="nhsuk-hint">
                                @Model.SelectedCountryName
                            </div>
                            @if (Model.SelectedRegionName != null)
                            {
                                <h2 class="nhsuk-body-m">
                                    Current selected region
                                </h2>
                                <div class="nhsuk-hint">
                                    @Model.SelectedRegionName
                                </div>
                            }
                            <div class="nhsuk-u-padding-bottom-9">
                                <hr class="nhsuk-section-break nhsuk-section-break--visible ">
                            </div>
                        </div>
                    </div>
                }

                <form asp-controller="MyAccount" asp-action="ChangeLocation" method="get">
                    <input type="hidden" name="formSubmission" value="true">
                    <div class="nhsuk-radios nhsuk-u-padding-bottom-3">
                        @if (Model.Country != null && Model.Country.Any())
                        {
                            @foreach (var country in Model.Country)
                            {
                                @if (country.Label.ToUpper() == "ENGLAND")
                                {
                                    <div class="nhsuk-radios--conditional nhsuk-u-margin-bottom-2">
                                        <div class="nhsuk-radios__item">
                                            <input type="radio" asp-for="SelectedCountryId" value="@(country.Value)" id="country@(country.Value)" class="nhsuk-radios__input" data-val="false"
                                                   aria-controls="conditional-region" aria-expanded="false" />
                                            <label class="nhsuk-label nhsuk-radios__label nhsuk-u-reading-width" for="country@(country.Value)">
                                                @(country.Label)
                                            </label>
                                            <div class="nhsuk-radios__conditional @((errorHasOccurred && Model.HasSelectedRegion) ? "form-group-wrapper--error" : "" )" id="conditional-region">
                                                <vc:select-list asp-for="@nameof(Model.SelectedRegionId)"
                                                                label="Region"
                                                                value="@Model.SelectedRegionId"
                                                                hint-text="select a region"
                                                                required="true"
                                                                css-class="nhsuk-u-width-one-half"
                                                                default-option="select a region"
                                                                select-list-options="@Model.RegionOptions" />

                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="nhsuk-radios__item">
                                        <input type="radio" asp-for="SelectedCountryId" value="@(country.Value)" id="country@(country.Value)" class="nhsuk-radios__input" data-val="false" />
                                        <label class="nhsuk-label nhsuk-radios__label nhsuk-u-reading-width" for="country@(country.Value)">
                                            @(country.Label)
                                        </label>
                                    </div>
                                }

                            }
                            <div class="nhsuk-radios--conditional">
                                <div class="nhsuk-radios__item">
                                    <input type="radio" asp-for="SelectedCountryId" value="0" id="country0" class="nhsuk-radios__input" data-val="false"
                                           aria-controls="conditional-nonUK" aria-expanded="false" />
                                    <label class="nhsuk-label nhsuk-radios__label nhsuk-u-reading-width" for="country0">
                                        Other
                                    </label>
                                    <div class="nhsuk-radios__conditional nhsuk-u-margin-bottom-0 @((errorHasOccurred && Model.HasSelectedOtherCountry) ? "form-group-wrapper--error" : "" )" id="conditional-nonUK">
                                        <vc:select-list asp-for="SelectedOtherCountryId"
                                                        label="Country"
                                                        value="@Model.SelectedOtherCountryId"
                                                        hint-text="select a country"
                                                        required="true"
                                                        css-class="nhsuk-u-width-one-half"
                                                        default-option="Select a country"
                                                        select-list-options="@Model.OtherCountryOptions" />

                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                    <div class="nhsuk-u-padding-bottom-5">
                        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
                            Save changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>