@model LearningHub.Nhs.WebUI.Models.UserProfile.MyAcountSecurityQuestionsViewModel

@{
    ViewData["DisableValidation"] = true;
    ViewData["Title"] = "My Account - Change security question";
    var errorHasOccurred = !ViewData.ModelState.IsValid;
}

<div class="bg-white">
    <div class="nhsuk-width-container app-width-container">
        <vc:back-link asp-controller="MyAccount" asp-action="Index" link-text="Go back" />

        <form asp-controller="MyAccount" asp-action="MyAccountSecurityQuestionsDetails" method="get">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-three-quarters nhsuk-u-padding-bottom-5">
                    @if (errorHasOccurred)
                    {
                        <vc:error-summary order-of-property-names="@(new[] { nameof(Model) })" />
                    }
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                            <div class="nhsuk-caption-l" id="contact-hint">
                                Set your security question
                            </div>
                            <h1 class="nhsuk-heading-xl">Choose your security question</h1>
                        </div>
                    </div>
                    <div class="nhsuk-label nhsuk-u-width-two-thirds nhsuk-u-padding-bottom-3" id="contact-hint">
                        These security questions can be used to help you to sign in if you forget your password. Please be assured that anything you enter on this page is encrypted and will not be visible to anyone, including system administrators.
                    </div>
                    <div class="nhsuk-label nhsuk-padding-top-2" id="contact-hint">
                        <p>Your two security questions must be different from each other.</p>
                    </div>
                    <div class="nhsuk-label nhsuk-padding-top-2" id="contact-hint">
                        <p>We will only use this information to help you sign in to the Learning Hub.</p>
                    </div>

                    <div>
                        <vc:select-list asp-for="SelectedFirstQuestionId"
                                        label="Set your first security question"
                                        value="@Model.SelectedFirstQuestionId"
                                        hint-text=""
                                        required="true"
                                        css-class="nhsuk-u-width-two-thirds"
                                        default-option=""
                                        select-list-options="@Model.FirstSecurityQuestions" />
                    </div>

                    <div>
                        <vc:text-input asp-for="SecurityFirstQuestionAnswerHash"
                                       label="Enter your answer"
                                       populate-with-current-value="true"
                                       type="password"
                                       spell-check="false"
                                       hint-text=""
                                       autocomplete=""
                                       css-class="nhsuk-u-width-two-thirds"
                                       required="true"
                                       required-client-side-error-message="Enter an answer" />
                        <input type="hidden" name="UserSecurityFirstQuestionId" value="@Model.UserSecurityFirstQuestionId" />
                    </div>
                    <div>
                        <vc:select-list asp-for="SelectedSecondQuestionId"
                                        label="Set your second security question"
                                        value="@Model.SelectedSecondQuestionId"
                                        hint-text=""
                                        required="true"
                                        css-class="nhsuk-u-width-two-thirds"
                                        default-option=""
                                        select-list-options="@Model.SecondSecurityQuestions" />
                    </div>

                    <div>
                        <vc:text-input asp-for="SecuritySecondQuestionAnswerHash"
                                       label="Enter your answer"
                                       populate-with-current-value="true"
                                       type="password"
                                       spell-check="false"
                                       hint-text=""
                                       autocomplete=""
                                       css-class="nhsuk-u-width-two-thirds"
                                       required="true"
                                       required-client-side-error-message="Enter an answer" />
                        <input type="hidden" name="UserSecuritySecondQuestionId" value="@Model.UserSecuritySecondQuestionId" />
                    </div>

                    <div class="nhsuk-u-padding-bottom-5">
                        <input type="hidden" name="formSubmission" value="true">
                        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
                            Save changes
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>