@model LearningHub.Nhs.WebUI.Models.UserProfile.MyAccountSecurityViewModel

@{    
   ViewData["Title"] = "Security";
}
<div class="bg-white nhsuk-u-padding-bottom-8">
    <div class="nhsuk-width-container app-width-container">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">
                @await Component.InvokeAsync("SideNav", new { groupTitle = "Account" })
            </div>
            <div class="nhsuk-grid-column-two-thirds">

        @if (!ViewData.ModelState.IsValid)
        {
            <vc:error-summary order-of-property-names="@(new[] { nameof(Model) })" />
        }

        <h2 class="nhsuk-heading-l">Security</h2>
        <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Secondary email address
                </dt>
                <dd class="nhsuk-summary-list__value">
                    @Model.SecondaryEmailAddress
                </dd>

                <dd class="nhsuk-summary-list__actions">

                    <a asp-action="ChangeSecondaryEmail">
                        Change<span class="nhsuk-u-visually-hidden">&nbsp;secondry email</span>
                    </a>

                </dd>

            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Password
                </dt>
                <dd class="nhsuk-summary-list__value" typeof="password">
                    *************
                </dd>

                <dd class="nhsuk-summary-list__actions">

                    <a asp-action="ConfirmPassword">
                        Change<span class="nhsuk-u-visually-hidden">&nbsp;password</span>
                    </a>

                </dd>

            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Security questions
                </dt>
                <dd class="nhsuk-summary-list__value">
                   Set on @Model.SecurityQuestionLastUpdated
                </dd>

                <dd class="nhsuk-summary-list__actions">

                    <a asp-action="SecurityQuestionsDetails" asp-route-questionIndex="1">
                        Change<span class="nhsuk-u-visually-hidden">&nbsp;security question 2</span>
                    </a>

                </dd>

            </div>

           @*  <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    First security question
                </dt>
                <dd class="nhsuk-summary-list__value">
                    @Model.SecurityFirstQuestion
                </dd>

                <dd class="nhsuk-summary-list__actions">

                    <a asp-action="SecurityQuestionsDetails" asp-route-questionIndex="0">
                        Change<span class="nhsuk-u-visually-hidden">&nbsp;security question 1</span>
                    </a>

                </dd>

            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Second security question
                </dt>
                <dd class="nhsuk-summary-list__value">
                    @Model.SecuritySecondQuestion
                </dd>

                <dd class="nhsuk-summary-list__actions">

                    <a asp-action="SecurityQuestionsDetails" asp-route-questionIndex="1">
                        Change<span class="nhsuk-u-visually-hidden">&nbsp;security question 2</span>
                    </a>

                </dd>

            </div> *@
        </dl>

        @if (this.ViewBag.CheckDetails == true)
        {
            <form asp-controller="MyAccount" asp-action="CheckDetails" method="post">
                <input name="returnUrl" type="hidden" asp-for="@Context.Request.Query["returnUrl"]" />
                <div class="nhsuk-u-padding-bottom-5">
                    <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
                        Confirm
                    </button>
                </div>
            </form>
        }
    </div>
    </div>
    </div>
</div>