@model LearningHub.Nhs.WebUI.Models.UserProfile.MyAccountEmploymentDetailsViewModel

@{
    ViewData["Title"] = "My employment";
    var isgeneralUser = User.IsInRole("BasicUser");
}
@section NavBreadcrumbs {

    <section class="nhsuk-hero">
        <div class="nhsuk-width-container app-width-container">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">

                    <div class="nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-3">
                        <a href="/">Home</a>
                        <i class="fa-solid fa-chevron-right nhsuk-u-padding-top-1 nhsuk-u-padding-bottom-1 nhsuk-u-padding-left-2 nhsuk-u-padding-right-2"></i>
                    </div>
                    <div class="nhsuk-u-padding-top-4 nhsuk-u-padding-bottom-7">
                        <h1 class="nhsuk-heading-xl">My account</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<div class="bg-white nhsuk-u-padding-bottom-7 nhsuk-u-padding-top-7">
    <div class="nhsuk-width-container app-width-container">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-quarter">
                @await Component.InvokeAsync("SideNav", new { groupTitle = "Account" })
            </div>
            <div class="nhsuk-grid-column-three-quarters">
                @if (this.ViewBag.CheckDetails == true)
                {
                    <div class="nhsuk-inset-text">
                        <span class="nhsuk-u-visually-hidden">Information: </span>
                        <p>Please check that your details are up-to-date.</p>
                    </div>
                }

                @if (!ViewData.ModelState.IsValid)
                {
                    <vc:error-summary order-of-property-names="@(new[] { nameof(Model) })" />
                }
                <h2 class="nhsuk-heading-l nhsuk-u-padding-bottom-5">@ViewData["Title"]</h2>
                <h3 class="nhsuk-heading-m nhsuk-u-padding-bottom-5">Job details</h3>
                <dl class="nhsuk-summary-list">

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">Current role</dt>
                        <dd class="nhsuk-summary-list__value">@Model.JobRole</dd>
                    </div>

                    @if (!string.IsNullOrEmpty(Model.MedicalCouncilNo))
                    {
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Professional registration number</dt>
                            <dd class="nhsuk-summary-list__value">@Model.MedicalCouncilNo</dd>
                        </div>
                    }
                    @if (!User.IsInRole("BasicUser"))
                    {
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Grade</dt>
                            <dd class="nhsuk-summary-list__value">@Model.Grade</dd>
                        </div>

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Primary specialty</dt>
                            <dd class="nhsuk-summary-list__value">@Model.PrimarySpecialty</dd>
                        </div>

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Start date</dt>
                            <dd class="nhsuk-summary-list__value">@Model.JobStartDate?.ToString("dd MMMM yyyy")</dd>
                        </div>

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Place of work</dt>
                            <dd class="nhsuk-summary-list__value">@Html.Raw(Model.PlaceOfWork)</dd>
                        </div>
                    }
                </dl>

                <div class="nhsuk-u-padding-bottom-9">
                    <a asp-action="ChangeCurrentRole">
                        Update details
                    </a>
                </div>

                <h3 class="nhsuk-heading-m nhsuk-u-padding-bottom-5">Location</h3>

                <dl class="nhsuk-summary-list">

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Country
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            @Model.CountryName
                        </dd>

                    </div>
                    @if (Model.CountryName == "England")
                    {
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Region
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                @Model.RegionName
                            </dd>

                        </div>
                    }
                </dl>

                <a asp-action="ChangeLocation">
                    Update location
                </a>

                @if (this.ViewBag.CheckDetails == true)
                {
                    <form asp-controller="MyAccount" asp-action="CheckDetails" method="post">
                        <input name="returnUrl" type="hidden" asp-for="@Context.Request.Query["returnUrl"]" />
                        <div class="nhsuk-u-padding-bottom-5 nhsuk-u-padding-top-5">
                            <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
                                Confirm
                            </button>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>