@using LearningHub.Nhs.Models.Enums
@using LearningHub.Nhs.Models.Enums.Report
@using LearningHub.Nhs.WebUI.Helpers
@using LearningHub.Nhs.WebUI.Models
@using LearningHub.Nhs.WebUI.Models.Learning
@model LearningHub.Nhs.WebUI.Models.Report.ReportHistoryViewModel
;
@{
    ViewData["Title"] = "Reports";
    var returnUrl = $"{Context.Request.Path}{Context.Request.QueryString}";
    var allCourses = this.ViewData["AllCourses"] as List<KeyValuePair<string, string>>;
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/css/nhsuk/pages/reporting.css" asp-append-version="true" />
}

@section NavBreadcrumbs {

<section class="nhsuk-hero">
    <div class="nhsuk-width-container app-width-container">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">

                <div class="nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-3">
                    <a href="/">Home</a>
                    <i class="fa-solid fa-chevron-right nhsuk-u-padding-top-1 nhsuk-u-padding-bottom-1 nhsuk-u-padding-left-2 nhsuk-u-padding-right-2"></i>
                </div>

                <div class="nhsuk-u-padding-top-4 nhsuk-u-padding-bottom-7">
                    <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-0">Reports</h1>
                    <p>View and manage your reports</p>
                </div>

            </div>
        </div>
    </div>
</section>
}
<div class="user-report">
    <div class="nhsuk-width-container app-width-container">
        <div class="nhsuk-grid-row nhsuk-u-padding-top-4 nhsuk-u-padding-bottom-7">

            <!--  Main content -->
            <div class="nhsuk-grid-column-full">
                <div>
                    <p class="nhsuk-body-s">
                        This page lists all reports you can access or have created. Use the Create a course completion report button to generate a new report.
                    </p>
                    <a asp-controller="Reports" asp-action="CreateReportCourseSelection" class="nhsuk-button nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-4">Create a course completion report</a>
                </div>

                <div>
                    <h3>Previously run reports</h3>
                    <p class="nhsuk-body-s nhsuk-u-reading-width">
                        Reports are stored for 30 days from the date they’re generated. If you need to keep a copy, make sure you download it before it expires.
                    </p>
                    <hr class="nhsuk-section-break nhsuk-section-break--visible">
                    @if (Model.ReportHistoryModels.Any())
                    {
                        @foreach (var entry in Model.ReportHistoryModels)
                        {
                            var matchedCourseNames = new List<string>();
                            if (string.IsNullOrWhiteSpace(entry.CourseFilter))
                            {
                                matchedCourseNames = allCourses.Select(course => course.Value).ToList();
                            }
                            else
                            {
                                matchedCourseNames = allCourses
                                .Where(course => entry.CourseFilter.Contains(course.Key))
                                .Select(course => course.Value)
                                .ToList();
                            }
                            string datePeriod = entry.PeriodDays > 0 ? $"{entry.PeriodDays} days" : $"{entry.StartDate.GetValueOrDefault().ToString("dd MMM yyyy")} to {entry.EndDate.GetValueOrDefault().ToString("dd MMM yyyy")}";
                            bool downloadCheck = entry.DownloadRequest != null && (bool)entry.DownloadRequest;
                            string expiryDate = entry.LastRun.AddDays(30).ToString("dd MMM yyyy");

                            <details class="nhsuk-details nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-2">
                                <summary class="nhsuk-details__summary nhsuk-u-flex nhsuk-u-justify-content-space-between nhsuk-u-align-items-center">
                                    <span class="nhsuk-details__summary-text">
                                        Course completion for @matchedCourseNames.FirstOrDefault()?.Normalize()
                                    </span>
                                    @if (downloadCheck)
                                    {
                                        <span class="nhsuk-u-margin-left-auto">
                                            @if (entry.ReportStatusId == ((int)Status.Ready) && DateTime.Now.Date < entry.LastRun.AddDays(30).Date)
                                            {

                                                <span class="nhsuk-u-font-size-16 override-summary-color nhsuk-u-padding-right-2">
                                                    Expires on @expiryDate
                                                </span>

                                                <strong class="nhsuk-tag nhsuk-tag--green"> Ready to download </strong>
                                            }
                                            else if (entry.ReportStatusId == ((int)Status.Pending))
                                            {
                                                <strong class="nhsuk-tag nhsuk-tag--yellow"> Getting it ready </strong>
                                            }
                                            else
                                            {
                                                <strong class="nhsuk-tag nhsuk-tag--grey"> Expired </strong>
                                            }
                                        </span>
                                    }
                                </summary>
                                <div class="nhsuk-details__text">
                                    <dl class="nhsuk-summary-list">
                                        <div class="nhsuk-summary-list__row">
                                            <dt class="nhsuk-summary-list__key nhsuk-summary-list__key--tight">Date requested:</dt>
                                            <dd class="nhsuk-summary-list__value">@entry.FirstRun.Date.ToString("dd MMM yyyy")</dd>
                                        </div>
                                        <div class="nhsuk-summary-list__row">
                                            <dt class="nhsuk-summary-list__key nhsuk-summary-list__key--tight">Date period:</dt>
                                            <dd class="nhsuk-summary-list__value">@datePeriod</dd>
                                        </div>
                                        <div class="nhsuk-summary-list__row">
                                            <dt class="nhsuk-summary-list__key nhsuk-summary-list__key--tight">Type:</dt>
                                            <dd class="nhsuk-summary-list__value">Course completions</dd>
                                        </div>
                                        <div class="nhsuk-summary-list__row">
                                            <dt class="nhsuk-summary-list__key nhsuk-summary-list__key--tight">Reporting on:</dt>
                                            <dd class="nhsuk-summary-list__value">
                                                <ul class="nhsuk-list nhsuk-list--bullet">
                                                    @foreach(var item in matchedCourseNames)
                                                    {
                                                        <li>@item</li>
                                                    }
                                                </ul>
                                            </dd>
                                        </div>
                                    </dl>

                                    <ul class="nhsuk-list nhsuk-list--inline nhsuk-u-margin-0" style="display: flex; gap: 1rem;">
                                        <li>
                                            <a class="nhsuk-link" asp-controller="Reports"
                                            asp-action="ViewReport"
                                            asp-route-ReportHistoryId="@entry.ReportHistoryId">
                                                View report
                                            </a>
                                        </li>

                                        @if (downloadCheck)
                                        {
                                            @if (entry.ReportStatusId == ((int)Status.Ready) && DateTime.Now.Date < entry.LastRun.AddDays(30).Date)
                                            {
                                                <li>
                                                    <a target="_blank" class="nhsuk-link" asp-controller="Reports" asp-action="DownloadReport"
                                                       asp-route-ReportHistoryId="@entry.ReportHistoryId">Download report</a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </details>
                            <hr class="nhsuk-section-break nhsuk-section-break--visible">
                        }

                    }
                    else
                    {
                        <ul class="nhsuk-grid-row nhsuk-card-group">
                            <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
                                <div class="nhsuk-card">
                                    <div class="nhsuk-card__content">
                                        <h3 class="nhsuk-card__heading nhsuk-heading-m">
                                            No reports available yet
                                        </h3>
                                        <p class="nhsuk-card__description">
                                            You haven’t run any reports yet, so this section is currently empty.
                                            Once you generate a report, it will appear here for you to view or download.
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        
                    }

                </div>
            </div>
            <div class="nhsuk-grid-column-full nhsuk-u-padding-5">
                @await Html.PartialAsync("_ReportHistoryPaging", Model)
            </div>
        </div>
    </div>
</div>
