@using LearningHub.Nhs.Models.Enums;
@using LearningHub.Nhs.Models.Hierarchy;
@using LearningHub.Nhs.WebUI.Models.Catalogue;
@model CatalogueIndexViewModel;

@foreach (NodeContentBrowseViewModel item in Model.NodeContents)
{
    <div class="content-item">
        @if (item.NodeTypeId == (int)NodeTypeEnum.Folder)
    {
      @if (item.IsEmptyFolder)
      {
        <h2 class="folder-title">
          <img src="/images/folder-icon.svg" alt="folder icon" />
          <a asp-controller="Catalogue" asp-route-reference="@Model.Catalogue.Url" asp-route-nodePathId="@item.NodePathId">@item.Name</a>
        </h2>
      }
      else
      {
        <h2 class="folder-title_empty">
          <img src="/images/folder-icon.svg" alt="folder icon" />
          @item.Name
        </h2>
      }
    }
        else
        {
            <h2 class="nhsuk-u-reading-width"><a asp-controller="Resource" asp-action="Index" asp-route-resourcereferenceid="@item.ResourceReferenceId">@item.Name</a></h2>
            <div class="resource-metadata">
                <div class="nhsuk-u-padding-right-5"><span class="nhsuk-u-font-weight-bold">Type:</span> @UtilityHelper.GetPrettifiedResourceTypeName((ResourceTypeEnum)item.ResourceTypeId, item.DurationInMilliseconds)</div>
                <div class="nhsuk-u-padding-right-5 star-rating-container">
                    <partial name="_StarRatingWithCount" model="@new StarRatingWithCountViewModel { AverageRating = (decimal)item.RatingSummaryBasicViewModel.AverageRating,
                                                                                        RatingCount = item.RatingSummaryBasicViewModel.RatingCount,
                                                                                        ResourceReferenceId = item.ResourceReferenceId.Value }" />
                </div>
                <div class="line-clamp-1">Authored by @item.AuthoredBy</div>
            </div>
        }
    </div>
}